.dictionary .input-box {
  width: 35%;
}

.dictionary .search-button {
  background-color: #f76b8a;
  border-color: transparent;
  border-radius: 7px;
  border-width: 1px;
  color: #ffffff;
  font-family: var(--primary-font);
  margin-left: 10px;
  padding: 4px 15px 4px 15px;
  transition: all 200ms ease-in-out;
}

.dictionary .search-button:hover {
  background-color: white;
  border-color: #f76b8a;
  color: #f76b8a;
}
