.Meaning {
  font-family: var(--primary-font);
}

.Meaning .part-of-speech {
  color: #f76b8a;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 0;
}

.Meaning .definition {
  margin-bottom: 10px;
  margin-top: 50px;
}

.Meaning .example {
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .Meaning .definition,
  .Meaning .example {
    font-size: 14px;
  }
  .Meaning .definition {
    margin-top: 25px;
  }
}
